export ENV=local
export PORT=1234
export POSTGRES_USER=user
export POSTGRES_PASSWORD=password
export DATABASE_HOST=localhost
export DATABASE_SUPERUSER=superuser
export DATABASE_SUPERPASSWORD=superpassword
